{% extends 'base.html' %}
{% block content %}
<div class="container my-3" >
    <h2 class="border-bottom py-2">
        <b>파일/시트 합치기</b>
    </h2>

    <!--파일 입력받기-->
    {% if not df_columns_setting %}
     <div>
        <form action="" method="POST" enctype="multipart/form-data" >
            <label class="col-form-label">파일을 모두 선택하세요</label>
            {% csrf_token %}
            {{ form }}
            <br>
            <div class = "col-auto">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type = "radio" name = "시트설정" id = "전체시트" value = "전체시트" checked="checked">
                    <label class="form-check-label" for="전체시트">전체 sheet</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type = "radio" name = "시트설정" id = "일부시트" value = "일부시트" >
                    <label class="form-check-label" for="일부시트">일부 sheet</label>
                </div>

            </div>

            <button name ="choice" class="btn btn-secondary" value="{{ form.value}}">Upload</button>
        </form>
    </div>
    {% endif %}

    <p></p>

    <!--파일 업로드 후-->
    {% if df_columns_setting %}
    {{ filename_lists }}

    <p>
    <div class="input-group mb-3">
        <form action = "{% url 'pybo:data_concat_2' %}" class="row g-3">

            <!--일부시트: 시트 선택-->
            {% if 시트설정 == "일부시트" %}
            <h5><b><u>Step0: Sheet 선택 </u></b></h5>
            <div class="col-auto">
                <select name="sheet_대상" id="sheet_대상" multiple size="10" required>
                    {% for sheet in sheet_lists %}
                    <option> {{sheet}} </option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            <!--컬럼 범위 설정-->
            <h5><b><u>Step1: Header(컬럼명) 범위 설정</u></b></h5>
            <div class="col-auto">
                <label for="head_index_start" class="col-form-label">Header 시작행: </label>
            </div>
            <div class = "col-auto">
                <select name = "head_index_start" required class="form-select" id="head_index_start">
                    <option value = 0 selected> 0 </option>
                    <option value = 1> 1 </option>
                    <option value = 2> 2 </option>
                    <option value = 3> 3 </option>
                    <option value = 4> 4 </option>
                    <option value = 5> 5 </option>
                    <option value = 6> 6 </option>
                </select>
            </div>
            <div class="col-auto">
                <label for="head_index_end" class="col-form-label">종료행: </label>
            </div>
            <div class = "col-auto">
                <select name = "head_index_end" required class="form-select" id="head_index_end">
                    <option value = 0 selected> 0 </option>
                    <option value = 1> 1 </option>
                    <option value = 2> 2 </option>
                    <option value = 3> 3 </option>
                    <option value = 4> 4 </option>
                    <option value = 5> 5 </option>
                    <option value = 6> 6 </option>
                </select>
            </div>
            <div class = "col-auto">
                <input type="submit" class="btn btn-primary" value="GO">
                {% csrf_token %}
            </div>
        </form>
    </div>

    <br>
    {{df_columns_setting | safe }}

    {% endif %}

</div>
{% endblock %}