{% extends 'base.html' %}
{% block content %}
<div class="container my-3" >
    <h2 class="border-bottom py-2">
        <b>파일/시트 합치기</b>
    </h2>

    <br>


    <div class="input-group mb-3">

    <form action = "{% url 'pybo:data_concat_3' %}" >
        <div class="card">
            <div class="card-header">
                <h4>Further Customization</h4>
            </div>

            <div class="card-body">

                <ul class = "list-group list-group-flush">
                    <!--파일명, 시트명 추가-->
                    <li class = "list-group-item">
                        <h5 class="card-title"><b>#1. 시트명/파일명 추가</b></h5>
                        <h6 class="card-subtitle mb-2 text-muted">신규 Column으로 추가할 항목 선택</h6>
                        <p></p>
                        <div class="col-auto">
                            <input type="checkbox" class="form-check-input mb-3" name="selected" value="파일명" checked> 파일명
                            <input type="checkbox" class="form-check-input mb-3" name="selected" value="시트명" checked> 시트명
                        </div>


                    </li>
                    <!--여려 행을 1줄로 합치기-->
                    <li class = "list-group-item">
                        <p></p>
                        <h5 class="card-title"><b>#2. 여러 행을 1줄로 합치기</b></h5>
                        <h6 class="card-subtitle mb-2 text-muted">여러 행의 단위로 반복되는 데이터를 1줄로 합쳐야 할 경우(ex. 일부 급여대장 양식)</h6>
                        <p></p>
                        <div class="col-auto">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type = "radio" name = "여러행" id = "여러행_사용안함" value = "여러행_사용안함" required checked>
                                <label class="form-check-label" for="여러행_사용안함">사용안함</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type = "radio" name = "여러행" id = "여러행_사용함" value = "여러행_사용함" required>
                                <label class="form-check-label" for="여러행_사용함">사용함</label>
                            </div>
                        </div>
                        <p></p>
                        <details>
                            <summary><b><u>Detail 설정</u></b> (If. 사용시)</summary>
                            <ul>
                            <li><i>Header 중 데이터행이 반복되는 범위를 지정하세요.</i></li>
                            </ul>
                            <p></p>

                            <div class="input-group mb-3">
                                <div class="col-auto">
                                    <label for="head_repeat_index_start" class="col-form-label">시작행 : </label>
                                </div>
                                <div class = "col-auto">
                                    <select name = "head_repeat_index_start" required class="form-select" id="head_repeat_index_start">
                                        {% for i in sequence %}
                                        <option> {{ i }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <label for="head_repeat_index_end" class="col-form-label">종료행 : </label>
                                </div>
                                <div class = "col-auto">
                                    <select name = "head_repeat_index_end" required class="form-select" id="head_repeat_index_end">
                                        {% for i in sequence %}
                                        <option> {{ i }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {{df | safe}}
                        </details>
                    </li>
                    <!--시트 내 여러 Data -->
                    <li class = "list-group-item">
                        <p></p>
                        <h5 class="card-title"><b>#3. 한 시트에 2개 이상의 Header 존재</b></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Header를 기준으로 Dataset 분리해야 할 경우</h6>
                        <p></p>
                        <i>TBU</i>
                        

                    </li>


                </ul>

            </div>
        </div>
        <p></p>
        <div class = "col-auto">
            <input type="submit" class="btn btn-primary" value="GO">
            {% csrf_token %}
        </div>
    </form>
    </div>



</div>
{% endblock %}