{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'hover_style.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">

{% load custom_filters %}

<div class="container my-3">
    <h2 class="border-bottom py-2">
        <b>외감대상 실험</b>
    </h2>

    <div class="container-fluid">
        <!--입력버튼-->
        <div class="row g-3">
            <div class="col-auto">
                <input class="form-control" list="datalistOptions" id="searchInput" placeholder="회사명을 입력하세요">
                <datalist id="datalistOptions">
                    {% with zipped_contents=company_inputs.name|zip_lists:company_inputs.industry_code %}
                        {% for company, code in zipped_contents %}
                        <option data-value="{{code}}">{{company}}</option>
                        {% endfor %}
                    {% endwith %}
                </datalist>
            </div>
            <div class="col-auto">
                <input type="button" class="btn btn-primary mb-3" id="searchBtn" value="검색">
            </div>
        </div>

        <!-- 테이블-->
        <div class="row g-3">
            <div class="col-auto" id="output_info">

            </div>
        </div>

    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="accordion col-sm-3" id="lv1Accordion" >
                <!-- 1st 아코디언(Lv1)  -->
                {% for lv1_item in industry_tree %}
                <div class="accordion-item">
                    <h2 class="accordion-header m-2" id="lv1Heading{{ forloop.counter }}">
                        <span style="font-size: 14px;">
                            {{ lv1_item.lv1_header }}
                        </span>
                        <button class="btn btn-outline-dark btn-sm toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#lv1Collapse{{ forloop.counter }}">+</button>
                    </h2>
                    <div id="lv1Collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="lv1Heading{{ forloop.counter }}" data-bs-parent="#lv1Accordion">
                        <div class="accordion-body">

                            <!-- 2nd 아코디언(Lv2)  -->
                            <div class="accordion" id="lv2Accordion{{ forloop.counter }}">
                                {% for lv2_item in lv1_item.lv1_contents %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header m-2" id="lv2Heading{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                        <span
                                                style="font-size: 14px; cursor: pointer;"
                                                onmouseover="this.style.color='blue'; this.style.fontWeight='bold';"
                                                onmouseout="this.style.color=''; this.style.fontWeight='normal';"
                                                onclick="accordionClicked(event)"
                                                data-code="{{ lv2_item.lv2_header.2 }}"
                                        >
                                            {{ lv2_item.lv2_header.0 }}
                                        </span>
                                        <button class="btn btn-dark btn-sm toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#lv2Collapse{{ forloop.parentloop.counter }}-{{ forloop.counter }}">+</button>
                                        <span style="font-size: 12px; color: silver;"><i> -- 총 {{ lv2_item.lv2_header.1 }}개사 </i></span>
                                    </h2>
                                    <div id="lv2Collapse{{ forloop.parentloop.counter }}-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="lv2Heading{{ forloop.parentloop.counter }}-{{ forloop.counter }}" data-bs-parent="#lv2Accordion{{ forloop.parentloop.counter }}">
                                        <div class="accordion-body">

                                            <!-- 3rd 아코디언(Lv3) -->
                                            <div class="accordion" id="lv3Accordion{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                                {% for lv3_item in lv2_item.lv2_contents %}
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header m-2" id="lv3Heading{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                                        <span
                                                                style="font-size: 14px; cursor: pointer;"
                                                                onmouseover="this.style.color='blue'; this.style.fontWeight='bold';"
                                                                onmouseout="this.style.color=''; this.style.fontWeight='normal';"
                                                                onclick="accordionClicked(event)"
                                                                data-code="{{ lv3_item.lv3_header.2 }}"
                                                        >
                                                            {{ lv3_item.lv3_header.0 }}
                                                        </span>
                                                        <button class="btn btn-secondary btn-sm toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#lv3Collapse{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">+</button>
                                                        <span style="font-size: 12px; color: silver;"><i> -- {{ lv3_item.lv3_header.1 }}개사 </i></span>
                                                    </h2>
                                                    <div id="lv3Collapse{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="lv3Heading{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" data-bs-parent="#lv3Accordion{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}">
                                                        <div class="accordion-body">

                                                            <!-- 4th 아코디언(Lv4) -->
                                                            <div class="accordion" id="lv4Accordion{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                                                {% for lv4_item in lv3_item.lv3_contents %}
                                                                <div class="accordion-item">
                                                                    <h2 class="accordion-header m-2" id="lv4Heading{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                                                        <span
                                                                                style="font-size: 14px; cursor: pointer;"
                                                                                onmouseover="this.style.color='blue'; this.style.fontWeight='bold';"
                                                                                onmouseout="this.style.color=''; this.style.fontWeight='normal';"
                                                                                onclick="accordionClicked(event)"
                                                                                data-code="{{ lv4_item.lv4_header.2 }}"
                                                                        >
                                                                            {{ lv4_item.lv4_header.0 }}
                                                                        </span>
                                                                        <button class="btn btn-info btn-sm toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#lv4Collapse{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">+</button>
                                                                        <span style="font-size: 12px; color: silver;"><i> -- {{ lv4_item.lv4_header.1 }}개사 </i></span>
                                                                    </h2>
                                                                    <div id="lv4Collapse{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="lv4Heading{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" data-bs-parent="#lv4Accordion{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}">
                                                                        <div class="accordion-body">

                                                                            {% with zipped_contents=lv4_item.lv4_contents.0|zip_lists:lv4_item.lv4_contents.2 %}
                                                                                {% for content, code in zipped_contents %}
                                                                                <li
                                                                                        style="font-size: 14px; cursor: pointer;"
                                                                                        onmouseover="originalColor = this.style.color; originalWeight = this.style.fontWeight; this.style.color='blue'; this.style.fontWeight='bold';"
                                                                                        onmouseout="this.style.color=originalColor; this.style.fontWeight=originalWeight;"
                                                                                        onclick="accordionClicked(event)"
                                                                                        data-code="{{ code }}"
                                                                                >
                                                                                    {{ content }}
                                                                                </li>
                                                                                {% endfor %}
                                                                            {% endwith %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                            <!-- 4th 아코디언 끝 -->

                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <!-- 3rd 아코디언 끝 -->

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col-sm-7">
                <div class="col-auto">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type = "checkbox" name = "category" id = "category_상장" value = "상장" checked
                               onclick="accordionClicked(event)"
                        >
                        <label class="form-check-label" for="category_상장">상장</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type = "checkbox" name = "category" id = "category_코스닥" value = "코스닥" checked
                               onclick="accordionClicked(event)"
                        >
                        <label class="form-check-label" for="category_코스닥">코스닥</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type = "checkbox" name = "category" id = "category_코넥스" value = "코넥스" checked
                               onclick="accordionClicked(event)"
                        >
                        <label class="form-check-label" for="category_코넥스">코넥스</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type = "checkbox" name = "category" id = "category_외감" value = "외감" checked
                               onclick="accordionClicked(event)"
                        >
                        <label class="form-check-label" for="category_외감">외감</label>
                    </div>
                </div>
                <p></p>


                <div class="col-auto" id="output">
                    {{ html_str | safe}}
                </div>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body" id="cardList">

                    </div>
                </div>
            </div>



        </div>
    </div>

    <script>

        const accordions = document.querySelectorAll('.accordion-collapse');

        accordions.forEach(accordion => {
            accordion.addEventListener('show.bs.collapse', function() {
                const button = document.querySelector(`[data-bs-target="#${accordion.id}"]`);
                button.textContent = '-';
            });

            accordion.addEventListener('hide.bs.collapse', function() {
                const button = document.querySelector(`[data-bs-target="#${accordion.id}"]`);
                button.textContent = '+';
            });
        });

    </script>


    <script>
        let currentCode = null;  // 최근 클릭된 아코디언 항목의 data-code 값을 저장하기 위한 전역 변수

        function accordionClicked(event) {
            const clickedElement = event.target;

            // 상장 체크박스에서 체크된 값을 가져옴
            var checkedValues = Array.from(document.querySelectorAll('input[name="category"]:checked')).map(input => input.value);

            // Name 체크박스에서 체크된 값을 가져옴
            let previouslyChecked = Array.from(document.querySelectorAll('.selected-checkbox:checked')).map(input => input.getAttribute('data-value'));


            // 모든 아코디언 항목의 스타일을 초기 상태로 되돌림
            let allAccordionItems = document.querySelectorAll('.accordion-item span, .accordion-item li');
            allAccordionItems.forEach(item => {
                item.style.color = '';  // 초기 글씨 색상으로 되돌림
                item.style.fontWeight = '';
            });

            if (clickedElement.tagName === 'SPAN' || clickedElement.tagName === 'LI') {
                clickedElement.style.color = 'blue';
                clickedElement.style.fontWeight = 'bold';
                currentCode = clickedElement.getAttribute('data-code');
            }

            var output = "";


            // AJAX 요청 시작
            fetch(`/ajax/?code=${currentCode}`)
                .then(response => response.json())
                .then(data => {

                    var filteredData = data.df.filter(row => checkedValues.includes(row['Category']));  // 원하는_열_이름에 따라 데이터 필터링
                    output += `<p><i>Filtered Companies: ${filteredData.length}개사</i></p>`;

                    // 테이블의 총 row 수를 추가


                    // DataFrame을 HTML 테이블로 변환
                    var tableHTML = '<table border="1" class="table table-sm">';
                    var headers = Object.keys(filteredData[0]).filter(header => header !== 'Main_products_원본');

                    // 검색 입력 값을 가져옴
                    const searchValue = document.getElementById('searchInput').value;

                    // 헤더 부분 추가h
                    tableHTML += '<thead><tr>';
                    tableHTML += '<th>No.</th>';  // Row number를 위한 header 추가
                    headers.forEach(header => {
                        tableHTML += `<th>${header}</th>`;
                    });
                    tableHTML += '<th>선택</th>';  // 담기 checkbox위한 header 추가
                    tableHTML += '</tr></thead>';

                    // 본문 부분 추가
                    tableHTML += '<tbody>';
                    filteredData.forEach((row, index) => {

                        // 검색 입력 값과 Name 열의 값이 일치하는지 확인
                        let isMatchedRow = row['Name'] === searchValue;

                        tableHTML += isMatchedRow ? '<tr style="background-color: #ECF9FF;">' : '<tr>'; // 변경된 부분
                        tableHTML += `<td>${index + 1}</td>`;  // Row number 추가
                        //툴팁추가
                        headers.forEach(header => {

                            // 팝업을 보여줄 열: 'Main_products'
                            if (header === 'Main_products') {
                                tableHTML += `<td class="hover-element">${row[header]}<span class="popup">${row['Main_products_원본']}</span></td>`;
                            } else {
                                tableHTML += `<td>${row[header]}</td>`;
                            }

                        });
                        // 체크박스 생성 부분
                        if (previouslyChecked.includes(row['Name'])) {
                            tableHTML += `<td><div class="form-check form-switch"><input class="form-check-input selected-checkbox" type="checkbox" data-value="${row['Name']}" checked></div></td>`;
                        } else {
                            tableHTML += `<td><div class="form-check form-switch"><input class="form-check-input selected-checkbox" type="checkbox" data-value="${row['Name']}"></div></td>`;
                        }

                        tableHTML += '</tr>';
                    });
                    tableHTML += '</tbody>';

                    tableHTML += '</table>';

                    // output 변수에 tableHTML을 추가
                    output += tableHTML;

                    document.getElementById('output').innerHTML = output;

                    // 이 부분에서 cardList 업데이트 호출
                    updateCardList();

                    // 이제 DOM에 체크박스가 추가되었으므로, 이벤트 리스너를 설정합니다.
                    const checkboxes = document.querySelectorAll(".selected-checkbox");

                    checkboxes.forEach(checkbox => {
                        checkbox.addEventListener('change', updateCardList);
                    });

                    // 체크박스의 상태를 설정한 후에 previouslyChecked 배열을 초기화합니다.
                    previouslyChecked = [];

                });

        }
    </script>


    <!-- Input값으로 펼쳐지는 코드-->
    <script>
        // 코드 가져오기
        document.getElementById('searchInput').addEventListener('input', function() {
            const inputValue = this.value;
            const options = document.querySelectorAll(`#datalistOptions option`);
            let foundOption = null;

            for (let opt of options) {
                if (opt.innerText === inputValue) {
                    foundOption = opt;
                    break;
                }
            }

            if (foundOption) {
                this.setAttribute('data-value', foundOption.getAttribute('data-value'));
            } else {
                this.removeAttribute('data-value');
            }
        });



        // 펼치기
        document.getElementById('searchBtn').addEventListener('click', function() {

            // 모든 아코디언 항목을 먼저 접습니다.
            const allCollapsible = document.querySelectorAll('.accordion-collapse.show');
            allCollapsible.forEach(collapsible => {
                new bootstrap.Collapse(collapsible, { toggle: true });
            });

            setTimeout(() => {

                // 입력 값 가져오기
                const dataValue = document.getElementById('searchInput').getAttribute('data-value');

                // 모든 아코디언 항목 순회
                const accordionElements = document.querySelectorAll('.accordion-header span, .accordion-body li');

                accordionElements.forEach(element => {
                    const dataCode = element.getAttribute('data-code'); // data-code 값을 가져온다.

                    // dataCode가 존재하며 inputValue와 일치할 때만 펼친다.
                    if (dataCode && dataCode.toLowerCase() === dataValue) {
                        let currentItem = element.closest('.accordion-item');
                        while (currentItem) {
                            // 아코디언 항목의 collapse 요소를 펼친다.
                            let collapseElement = currentItem.querySelector('.accordion-collapse');
                            if (collapseElement && !collapseElement.classList.contains('show')) {
                                new bootstrap.Collapse(collapseElement, { toggle: true });

                                // 해당 아코디언 항목이 펼쳐지면 accordionClicked 함수를 호출한다.
                                accordionClicked({ target: element });
                            }

                            // dataCode와 일치하는 li의 글씨 색깔 변경
                            if (element.tagName === 'LI') {
                                element.style.color = '#1e90ff';
                                element.style.fontWeight = 'bold';
                            }

                            // 다음 상위 accordion-item 요소로 이동한다.
                            let parentAccordion = currentItem.closest('.accordion');
                            currentItem = parentAccordion ? parentAccordion.closest('.accordion-item') : null;
                        }
                    }
                });
            }, 150); // 300ms의 시간을 줬습니다. 필요에 따라 조정하실 수 있습니다.
        });
    </script>

    <!-- 선택해서 담는 코드 -->
    <script>
        function updateCardList() {
            const cardList = document.getElementById("cardList");
            const checkedValues = Array.from(document.querySelectorAll(".selected-checkbox:checked")).map(box => box.getAttribute('data-value'));

            // 체크된 체크박스의 값을 순회하면서, cardList에 없는 항목을 추가합니다.
            checkedValues.forEach(value => {

                const existingItem = Array.from(cardList.children).find(item => item.getAttribute('data-value') === value); // === 비교로 변경
                if (!existingItem) {
                    const listItem = document.createElement("li");
                    listItem.setAttribute('data-value', value);  // data-value 속성 추가
                    const textNode = document.createTextNode(value);  // 별도의 텍스트 노드를 추가
                    listItem.appendChild(textNode);

                    // 제거 버튼 추가
                    const removeButton = document.createElement("button");
                    removeButton.textContent = "X";
                    removeButton.classList.add("btn", "btn-danger", "m-1");

                    // 버튼 스타일 직접 추가
                    removeButton.style.padding = "2px 4px";
                    removeButton.style.fontSize = "0.7rem";
                    removeButton.style.lineHeight = "1";
                    removeButton.style.borderRadius = "0.2rem";

                    removeButton.addEventListener('click', (event) => {
                        const itemToRemove = event.target.parentNode;
                        const checkboxToRemove = document.querySelector(`.selected-checkbox[data-value="${itemToRemove.getAttribute('data-value')}"]`);
                        if (checkboxToRemove) {
                            checkboxToRemove.checked = false; // 체크박스의 체크 해제
                        }
                        cardList.removeChild(itemToRemove);
                    });

                    listItem.appendChild(removeButton);
                    cardList.appendChild(listItem);
                }
            });

            // 체크박스의 체크를 해제한 경우 해당 항목을 cardList에서 제거합니다.
            document.querySelectorAll(".selected-checkbox").forEach(checkbox => {
                checkbox.addEventListener('change', (event) => {
                    if (!event.target.checked) {
                        const uncheckedValue = event.target.getAttribute('data-value');
                        const itemToRemove = Array.from(cardList.children).find(item => item.getAttribute('data-value') === uncheckedValue); // === 비교로 변경
                        if (itemToRemove) {
                            cardList.removeChild(itemToRemove);
                        }
                    }
                });
            });

        }

    </script>

</div>
{% endblock %}