{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h2 class="border-bottom py-2">
        <b>Financial Analysis (개별기업)</b>
    </h2>

    <br>
    <h6><b>{{ target }}</b> 5개년 실적 요약 </h6>

    {{ df_개별 | safe }}

    {{types }}


    {{ graph | safe }}



    <div class="'input-group mb-3">
        <h3><strong>Further Analysis</strong></h3>

        <!--아코디언-->
        <div class = "accordion", id="accordionExample">

            <!-- #1. Financial Canvas-->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <b>#1. Financial Canvas (축설정)</b>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form action = "{% url 'pybo:industry_landscape_4_2' %}" class="row g-3">
                            <div class="col-auto">
                                <select name = "x축" required class="form-select" id="x축">
                                    <optgroup label="PL">
                                        <option value = ifrs-full_Revenue selected> 매출액 </option>
                                        <option value = ifrs-full_GrossProfit> 매출총이익 </option>
                                        <option value = dart_OperatingIncomeLoss> 영업이익 </option>
                                        <option value = ifrs-full_ProfitLoss> 당기순이익 </option>
                                        <option value = ifrs-full_CostOfSales> 매출원가 </option>
                                        <option value = dart_TotalSellingGeneralAdministrativeExpenses> 판매비와관리비 </option>
                                    </optgroup>
                                    <optgroup label="BS">
                                        <option value = ifrs-full_Assets> 총자산 </option>
                                        <option value = ifrs-full_Liabilities> 총부채 </option>
                                        <option value = ifrs-full_Equity> 총자본 </option>
                                    </optgroup>
                                    <optgroup label="CF">
                                        <option value = ifrs-full_CashFlowsFromUsedInOperatingActivities> 영업활동CF </option>
                                        <option value = ifrs-full_CashFlowsFromUsedInInvestingActivities> 투자활동CF </option>
                                        <option value = ifrs-full_CashFlowsFromUsedInFinancingActivities> 재무활동CF </option>
                                    </optgroup>
                                    <optgroup label="수익률">
                                        <option value = GP%> 매출총이익률 </option>
                                        <option value = EBIT%> 영업이익률 </option>
                                        <option value = NI%> 당기순이익률 </option>
                                    </optgroup>
                                    <optgroup label="성장률">
                                        <option value = Revenue_growth%> 매출증가율 </option>
                                        <option value = EBIT_growth%> 영업이익증가율 </option>
                                        <option value = NI_growth%> 당기순이익증가율 </option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-auto">
                                <label class="col-form-label"> y축:</label>
                            </div>
                            <div class="col-auto">
                                <select name = "y축" required class="form-select" id="y축">
                                    <optgroup label="PL">
                                        <option value = ifrs-full_Revenue> 매출액 </option>
                                        <option value = ifrs-full_GrossProfit> 매출총이익 </option>
                                        <option value = dart_OperatingIncomeLoss selected> 영업이익 </option>
                                        <option value = ifrs-full_ProfitLoss> 당기순이익 </option>
                                        <option value = ifrs-full_CostOfSales> 매출원가 </option>
                                        <option value = dart_TotalSellingGeneralAdministrativeExpenses> 판매비와관리비 </option>
                                    </optgroup>
                                    <optgroup label="BS">
                                        <option value = ifrs-full_Assets> 총자산 </option>
                                        <option value = ifrs-full_Liabilities> 총부채 </option>
                                        <option value = ifrs-full_Equity> 총자본 </option>
                                    </optgroup>
                                    <optgroup label="CF">
                                        <option value = ifrs-full_CashFlowsFromUsedInOperatingActivities> 영업활동CF </option>
                                        <option value = ifrs-full_CashFlowsFromUsedInInvestingActivities> 투자활동CF </option>
                                        <option value = ifrs-full_CashFlowsFromUsedInFinancingActivities> 재무활동CF </option>
                                    </optgroup>
                                    <optgroup label="수익률">
                                        <option value = GP%> 매출총이익률 </option>
                                        <option value = EBIT%> 영업이익률 </option>
                                        <option value = NI%> 당기순이익률 </option>
                                    </optgroup>
                                    <optgroup label="성장률">
                                        <option value = Revenue_growth%> 매출증가율 </option>
                                        <option value = EBIT_growth%> 영업이익증가율 </option>
                                        <option value = NI_growth%> 당기순이익증가율 </option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-auto">
                                <label class="col-form-label"> Size:</label>
                            </div>
                            <div class="col-auto">
                                <select name = "size" required class="form-select" id="size">
                                    <option value = n/a selected> --선택안함-- </option>
                                    <option value = ifrs-full_Revenue > 매출액 </option>
                                    <option value = dart_OperatingIncomeLoss > 영업이익 </option>
                                    <option value = ifrs-full_ProfitLoss > 당기순이익 </option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <label for="start_year" class="col-form-label">시작년도: </label>
                            </div>
                            <div class = "col-auto">
                                <select name = "start_year" required class="form-select" id="start_year">
                                    <option value = 2019 selected> 2019 </option>
                                    <option value = 2020> 2020 </option>
                                    <option value = 2021> 2021 </option>
                                    <option value = 2022> 2022 </option>
                                </select>
                            </div>
                            <div class = "col-auto">
                                <label for="end_year" class="col-form-label">종료년도: </label>
                            </div>
                            <div class = "col-auto">
                                <select name = "end_year" required class="form-select" id="end_year" >
                                    <option value = 2019> 2019 </option>
                                    <option value = 2020> 2020 </option>
                                    <option value = 2021> 2021 </option>
                                    <option value = 2022 selected> 2022 </option>
                                </select>
                            </div>
                            <div class = "col-auto">
                                <input type="submit" class="btn btn-primary" value="GO">
                                {% csrf_token %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- #2. CF Waterfall-->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <b>#2. CF Waterfall</b>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form action = "{% url 'pybo:industry_landscape_5_2' %}" class="row g-3">

                            <div class="col-auto">
                                <label for="start_year_CF" class="col-form-label">시작년도: </label>
                            </div>
                            <div class = "col-auto">
                                <select name = "start_year_CF" required class="form-select" id="start_year_CF">
                                    <option value = 2019 selected> 2019 </option>
                                </select>
                            </div>
                            <div class = "col-auto">
                                <label for="end_year_CF" class="col-form-label">종료년도: </label>
                            </div>
                            <div class = "col-auto">
                                <select name = "end_year_CF" required class="form-select" id="end_year_CF" >
                                    <option value = 2021> 2021 </option>
                                </select>
                            </div>

                            <div class = "col-auto">
                                <input type="submit" class="btn btn-primary" value="GO">
                                {% csrf_token %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}