{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'hover_style.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">

{% load custom_filters %}

<div class="container my-3">
    <h2 class="border-bottom py-2">
        <b>외감대상 실험</b>
    </h2>

    <div class="container-fluid">
        <div class="row">
            <div class="col-auto">
                <input class="form-control" list="datalistOptions" id="searchInput" placeholder="회사명을 입력하세요">
                <datalist id="datalistOptions">
                    {% with zipped_contents=company_inputs.name|zip_lists:company_inputs.industry_code %}
                        {% for company, code in zipped_contents %}
                        <option data-value="{{code}}">{{company}}</option>
                        {% endfor %}
                    {% endwith %}
                </datalist>
            </div>
            <div class="col-auto">
                <input type="button" class="btn btn-primary mb-3" id="searchBtn" value="검색">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="accordion col-sm-4" id="lv1Accordion" >
                <!-- 1st 아코디언(Lv1)  -->
                {% for lv1_item in industry_tree %}
                <div class="accordion-item">
                    <h2 class="accordion-header m-2" id="lv1Heading{{ forloop.counter }}">
                        <span style="font-size: 15px;">
                            {{ lv1_item.lv1_header }}
                        </span>
                        <button class="btn btn-outline-dark btn-sm toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#lv1Collapse{{ forloop.counter }}">+</button>
                    </h2>
                    <div id="lv1Collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="lv1Heading{{ forloop.counter }}" data-bs-parent="#lv1Accordion">
                        <div class="accordion-body">

                            <!-- 2nd 아코디언(Lv2)  -->
                            <div class="accordion" id="lv2Accordion{{ forloop.counter }}">
                                {% for lv2_item in lv1_item.lv1_contents %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header m-2" id="lv2Heading{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                        <span
                                                style="font-size: 15px; cursor: pointer;"
                                                onmouseover="this.style.color='blue'; this.style.fontWeight='bold';"
                                                onmouseout="this.style.color=''; this.style.fontWeight='normal';"
                                                onclick="accordionClicked(event)"
                                                data-code="{{ lv2_item.lv2_header.2 }}"
                                        >
                                            {{ lv2_item.lv2_header.0 }}
                                        </span>
                                        <button class="btn btn-dark btn-sm toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#lv2Collapse{{ forloop.parentloop.counter }}-{{ forloop.counter }}">+</button>
                                        <span style="font-size: 15px; color: silver;"><i> -- 총 {{ lv2_item.lv2_header.1 }}개사 </i></span>
                                    </h2>
                                    <div id="lv2Collapse{{ forloop.parentloop.counter }}-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="lv2Heading{{ forloop.parentloop.counter }}-{{ forloop.counter }}" data-bs-parent="#lv2Accordion{{ forloop.parentloop.counter }}">
                                        <div class="accordion-body">

                                            <!-- 3rd 아코디언(Lv3) -->
                                            <div class="accordion" id="lv3Accordion{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                                {% for lv3_item in lv2_item.lv2_contents %}
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header m-2" id="lv3Heading{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                                        <span
                                                                style="font-size: 15px; cursor: pointer;"
                                                                onmouseover="this.style.color='blue'; this.style.fontWeight='bold';"
                                                                onmouseout="this.style.color=''; this.style.fontWeight='normal';"
                                                                onclick="accordionClicked(event)"
                                                                data-code="{{ lv3_item.lv3_header.2 }}"
                                                        >
                                                            {{ lv3_item.lv3_header.0 }}
                                                        </span>
                                                        <button class="btn btn-secondary btn-sm toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#lv3Collapse{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">+</button>
                                                        <span style="font-size: 15px; color: silver;"><i> -- {{ lv3_item.lv3_header.1 }}개사 </i></span>
                                                    </h2>
                                                    <div id="lv3Collapse{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="lv3Heading{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" data-bs-parent="#lv3Accordion{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}">
                                                        <div class="accordion-body">

                                                            <!-- 4th 아코디언(Lv4) -->
                                                            <div class="accordion" id="lv4Accordion{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                                                {% for lv4_item in lv3_item.lv3_contents %}
                                                                <div class="accordion-item">
                                                                    <h2 class="accordion-header m-2" id="lv4Heading{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                                                        <span
                                                                                style="font-size: 15px; cursor: pointer;"
                                                                                onmouseover="this.style.color='blue'; this.style.fontWeight='bold';"
                                                                                onmouseout="this.style.color=''; this.style.fontWeight='normal';"
                                                                                onclick="accordionClicked(event)"
                                                                                data-code="{{ lv4_item.lv4_header.2 }}"
                                                                        >
                                                                            {{ lv4_item.lv4_header.0 }}
                                                                        </span>
                                                                        <button class="btn btn-info btn-sm toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#lv4Collapse{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">+</button>
                                                                        <span style="font-size: 15px; color: silver;"><i> -- {{ lv4_item.lv4_header.1 }}개사 </i></span>
                                                                    </h2>
                                                                    <div id="lv4Collapse{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="lv4Heading{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" data-bs-parent="#lv4Accordion{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}">
                                                                        <div class="accordion-body">

                                                                            {% with zipped_contents=lv4_item.lv4_contents.0|zip_lists:lv4_item.lv4_contents.2 %}
                                                                                {% for content, code in zipped_contents %}
                                                                                <li
                                                                                        style="cursor: pointer;"
                                                                                        onmouseover="originalColor = this.style.color; originalWeight = this.style.fontWeight; this.style.color='blue'; this.style.fontWeight='bold';"
                                                                                        onmouseout="this.style.color=originalColor; this.style.fontWeight=originalWeight;"
                                                                                        onclick="accordionClicked(event)"
                                                                                        data-code="{{ code }}"
                                                                                >
                                                                                    {{ content }}
                                                                                </li>
                                                                                {% endfor %}
                                                                            {% endwith %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                            <!-- 4th 아코디언 끝 -->

                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <!-- 3rd 아코디언 끝 -->

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col-sm-8">
                <div class="col-auto">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type = "checkbox" name = "category" id = "category_상장" value = "상장" checked
                               onclick="accordionClicked(event)"
                        >
                        <label class="form-check-label" for="category_상장">상장</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type = "checkbox" name = "category" id = "category_코스닥" value = "코스닥" checked
                               onclick="accordionClicked(event)"
                        >
                        <label class="form-check-label" for="category_코스닥">코스닥</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type = "checkbox" name = "category" id = "category_코넥스" value = "코넥스" checked
                               onclick="accordionClicked(event)"
                        >
                        <label class="form-check-label" for="category_코넥스">코넥스</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type = "checkbox" name = "category" id = "category_외감" value = "외감" checked
                               onclick="accordionClicked(event)"
                        >
                        <label class="form-check-label" for="category_외감">외감</label>
                    </div>
                </div>
                <p></p>


                <div class="col-auto" id="output">
                    {{ html_str | safe}}

                </div>

            </div>
        </div>
    </div>

    <script>

        const accordions = document.querySelectorAll('.accordion-collapse');

        accordions.forEach(accordion => {
            accordion.addEventListener('show.bs.collapse', function() {
                const button = document.querySelector(`[data-bs-target="#${accordion.id}"]`);
                button.textContent = '-';
            });

            accordion.addEventListener('hide.bs.collapse', function() {
                const button = document.querySelector(`[data-bs-target="#${accordion.id}"]`);
                button.textContent = '+';
            });
        });

    </script>


    <script>
        let currentCode = null;  // 최근 클릭된 아코디언 항목의 data-code 값을 저장하기 위한 전역 변수

        function accordionClicked(event) {
            const clickedElement = event.target;

            // 클릭된 요소가 button이면 함수를 빠져나감 (버튼 클릭 시 아코디언의 동작에만 집중)
            if (clickedElement.tagName === 'INPUT') return;


            // 모든 아코디언 항목의 스타일을 초기 상태로 되돌림
            let allAccordionItems = document.querySelectorAll('.accordion-item span, .accordion-item li');
            allAccordionItems.forEach(item => {
                item.style.color = '';  // 초기 글씨 색상으로 되돌림
                item.style.fontWeight = '';
            });

            if (clickedElement.tagName === 'SPAN' || clickedElement.tagName === 'LI') {
                clickedElement.style.color = 'blue';
                clickedElement.style.fontWeight = 'bold';
                currentCode = clickedElement.getAttribute('data-code');
            }

            var output = "";

            // 체크박스에서 체크된 값을 가져옴
            var checkedValues = Array.from(document.querySelectorAll('input[name="category"]:checked')).map(input => input.value);

            // AJAX 요청 시작
            fetch(`/ajax/?code=${currentCode}`)
                .then(response => response.json())
                .then(data => {

                    var filteredData = data.df.filter(row => checkedValues.includes(row['Category']));  // 원하는_열_이름에 따라 데이터 필터링
                    output += `<p><i>Filtered Companies: ${filteredData.length}개사</i></p>`;

                    // 테이블의 총 row 수를 추가

                    // DataFrame을 HTML 테이블로 변환
                    var tableHTML = '<table border="1" class="table table-sm">';
                    var headers = Object.keys(filteredData[0]).filter(header => header !== 'Main_products_원본');

                    // 검색 입력 값을 가져옴
                    const searchValue = document.getElementById('searchInput').value;

                    // 헤더 부분 추가h
                    tableHTML += '<thead><tr>';
                    tableHTML += '<th>No.</th>';  // Row number를 위한 header 추가
                    headers.forEach(header => {
                        tableHTML += `<th>${header}</th>`;
                    });
                    tableHTML += '</tr></thead>';

                    // 본문 부분 추가
                    tableHTML += '<tbody>';
                    filteredData.forEach((row, index) => {

                        // 검색 입력 값과 Name 열의 값이 일치하는지 확인
                        let isMatchedRow = row['Name'] === searchValue;

                        tableHTML += isMatchedRow ? '<tr style="background-color: #ECF9FF;">' : '<tr>'; // 변경된 부분
                        tableHTML += `<td>${index + 1}</td>`;  // Row number 추가
                        //툴팁추가
                        headers.forEach(header => {

                            // 팝업을 보여줄 열: 'Main_products'
                            if (header === 'Main_products') {
                                tableHTML += `<td class="hover-element">${row[header]}<span class="popup">${row['Main_products_원본']}</span></td>`;
                            } else {
                                tableHTML += `<td>${row[header]}</td>`;
                            }

                        });
                        tableHTML += '</tr>';
                    });
                    tableHTML += '</tbody>';

                    tableHTML += '</table>';

                    // output 변수에 tableHTML을 추가
                    output += tableHTML;

                    document.getElementById('output').innerHTML = output;

                });

        }
    </script>

    <!-- 안되는 코드 원인 분석하기
    <script>
        document.getElementById('searchBtn').addEventListener('click', function() {

            // 입력 값 가져오기
            const inputValue = document.getElementById('searchInput').value.toLowerCase();

            // 모든 아코디언 항목 순회
            const accordions = document.querySelectorAll('.accordion-header span');
            accordions.forEach(acc => {
                if (acc.textContent.toLowerCase().includes(inputValue)) {
                    // 일치하는 항목의 부모 요소를 찾아 펼친다.
                    let collapseElement = acc.closest('.accordion-item').querySelector('.accordion-collapse');
                    if (!collapseElement.classList.contains('show')) {
                        new bootstrap.Collapse(collapseElement, { toggle: true });
                    }

                    // 상위 아코디언 항목들도 펼친다.
                    let parentItem = collapseElement.closest('.accordion-item');
                    while (parentItem) {
                        let parentAccordion = parentItem.closest('.accordion');
                        if (parentAccordion) {
                            let parentCollapse = parentAccordion.previousElementSibling;
                            if (parentCollapse && parentCollapse.contains(parentItem)) {
                                new bootstrap.Collapse(parentCollapse, { toggle: true });
                            }
                            parentItem = parentAccordion.closest('.accordion-item');
                        } else {
                            break;
                        }
                    }


                }
            });
        });
    </script>
    -->


    <!-- Input값으로 펼쳐지는 코드-->
    <script>
        // 코드 가져오기
        document.getElementById('searchInput').addEventListener('input', function() {
            const inputValue = this.value;
            const options = document.querySelectorAll(`#datalistOptions option`);
            let foundOption = null;

            for (let opt of options) {
                if (opt.innerText === inputValue) {
                    foundOption = opt;
                    break;
                }
            }

            if (foundOption) {
                this.setAttribute('data-value', foundOption.getAttribute('data-value'));
            } else {
                this.removeAttribute('data-value');
            }
        });



        // 펼치기
        document.getElementById('searchBtn').addEventListener('click', function() {

            // 모든 아코디언 항목을 먼저 접습니다.
            const allCollapsible = document.querySelectorAll('.accordion-collapse.show');
            allCollapsible.forEach(collapsible => {
                new bootstrap.Collapse(collapsible, { toggle: true });
            });

            setTimeout(() => {

                // 입력 값 가져오기
                const dataValue = document.getElementById('searchInput').getAttribute('data-value');

                // 모든 아코디언 항목 순회
                const accordionElements = document.querySelectorAll('.accordion-header span, .accordion-body li');

                accordionElements.forEach(element => {
                    const dataCode = element.getAttribute('data-code'); // data-code 값을 가져온다.

                    // dataCode가 존재하며 inputValue와 일치할 때만 펼친다.
                    if (dataCode && dataCode.toLowerCase() === dataValue) {
                        let currentItem = element.closest('.accordion-item');
                        while (currentItem) {
                            // 아코디언 항목의 collapse 요소를 펼친다.
                            let collapseElement = currentItem.querySelector('.accordion-collapse');
                            if (collapseElement && !collapseElement.classList.contains('show')) {
                                new bootstrap.Collapse(collapseElement, { toggle: true });

                                // 해당 아코디언 항목이 펼쳐지면 accordionClicked 함수를 호출한다.
                                accordionClicked({ target: element });
                            }

                            // dataCode와 일치하는 li의 글씨 색깔 변경
                            if (element.tagName === 'LI') {
                                element.style.color = '#1e90ff';
                                element.style.fontWeight = 'bold';
                            }

                            // 다음 상위 accordion-item 요소로 이동한다.
                            let parentAccordion = currentItem.closest('.accordion');
                            currentItem = parentAccordion ? parentAccordion.closest('.accordion-item') : null;
                        }
                    }
                });
            }, 150); // 300ms의 시간을 줬습니다. 필요에 따라 조정하실 수 있습니다.
        });
    </script>



</div>
{% endblock %}