{% extends 'base.html' %}
{% load humanize %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'custom_table.css' %}">

<div class="container my-3">
    <h2 class="border-bottom py-2">
        <b>Financial Analysis (동종산업 Peer 비교)</b>
    </h2>

    <p></p>
    <div>
        <form action = "{% url 'pybo:industry_landscape_3_3' %}">
            <div class="row g-3">
                <div class="col-auto">
                    <label for ="graph_대상" class="col-form-label"> 비교대상 회사를 선택하세요 (Ctrl, Shift 키 사용하여 중복 선택) : </label>
                </div>
                <div class="col-auto">
                    <select name="graph_대상" id="graph_대상" multiple size="7" required>
                        {% for index in targets %}
                        <option> {{index}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto">
                    <input type = "submit" class="btn btn-primary" value="그래프생성">
                    {% csrf_token %}
                </div>
            </div>
        </form>
    </div>

    <p></p>
    <{{fs_type}}재무제표 기준>

    <div>
        {{ df | safe }}
    </div>




</div>
{% endblock %}