{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="container my-3">
    <h2 class="border-bottom py-2">
        <b>외감대상 실험</b>
    </h2>

    <div class="accordion col-sm-5" id="lv1Accordion">
        <!-- 1st 아코디언(Lv2)  -->
        {% for lv1_item in industry_tree %}
        <div class="accordion-item">
            <h2 class="accordion-header m-2" id="lv1Heading{{ forloop.counter }}">
                <span style="font-size: 15px;">
                    {{ lv1_item.lv1_header }}
                </span>
                <button class="btn btn-outline-dark btn-sm toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#lv1Collapse{{ forloop.counter }}">+</button>
            </h2>
            <div id="lv1Collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="lv1Heading{{ forloop.counter }}" data-bs-parent="#lv1Accordion">
                <div class="accordion-body">

                    <!-- 2nd 아코디언(Lv2)  -->
                    <div class="accordion" id="lv2Accordion{{ forloop.counter }}">
                        {% for lv2_item in lv1_item.lv1_contents %}
                        <div class="accordion-item">
                            <h2 class="accordion-header m-2" id="lv2Heading{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                <span style="font-size: 15px; cursor: pointer;" onmouseover="this.style.color='blue'; this.style.fontWeight='bold';" onmouseout="this.style.color=''; this.style.fontWeight='normal';" onclick="accordionClicked(event, '{{ lv2_item.lv2_header }}')">
                                    {{ lv2_item.lv2_header.0 }}
                                </span>
                                <button class="btn btn-dark btn-sm toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#lv2Collapse{{ forloop.parentloop.counter }}-{{ forloop.counter }}">+</button>
                                <span style="font-size: 15px; color: silver;"><i> -- 총 {{ lv2_item.lv2_header.1 }}개사 </i></span>
                            </h2>
                            <div id="lv2Collapse{{ forloop.parentloop.counter }}-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="lv2Heading{{ forloop.parentloop.counter }}-{{ forloop.counter }}" data-bs-parent="#lv2Accordion{{ forloop.parentloop.counter }}">
                                <div class="accordion-body">

                                    <!-- 3rd 아코디언(Lv3) -->
                                    <div class="accordion" id="lv3Accordion{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                        {% for lv3_item in lv2_item.lv2_contents %}
                                        <div class="accordion-item">
                                            <h2 class="accordion-header m-2" id="lv3Heading{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                                <span style="font-size: 15px; cursor: pointer;" onmouseover="this.style.color='blue'; this.style.fontWeight='bold';" onmouseout="this.style.color=''; this.style.fontWeight='normal';" onclick="accordionClicked(event, '{{ lv3_item.lv3_header }}')" >
                                                    {{ lv3_item.lv3_header.0 }}
                                                </span>
                                                <button class="btn btn-secondary btn-sm toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#lv3Collapse{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">+</button>
                                                <span style="font-size: 15px; color: silver;"><i> -- {{ lv3_item.lv3_header.1 }}개사 </i></span>
                                            </h2>
                                            <div id="lv3Collapse{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="lv3Heading{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" data-bs-parent="#lv3Accordion{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}">
                                                <div class="accordion-body">

                                                    <!-- 4th 아코디언(Lv4) -->
                                                    <div class="accordion" id="lv4Accordion{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                                        {% for lv4_item in lv3_item.lv3_contents %}
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header m-2" id="lv4Heading{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                                                <span style="font-size: 15px; cursor: pointer;" onmouseover="this.style.color='blue'; this.style.fontWeight='bold';" onmouseout="this.style.color=''; this.style.fontWeight='normal';" onclick="accordionClicked(event, '{{ lv4_item.lv4_header }}')" >
                                                                    {{ lv4_item.lv4_header.0 }}
                                                                </span>
                                                                <button class="btn btn-info btn-sm toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#lv4Collapse{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">+</button>
                                                                <span style="font-size: 15px; color: silver;"><i> -- {{ lv4_item.lv4_header.1 }}개사 </i></span>
                                                            </h2>
                                                            <div id="lv4Collapse{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="lv4Heading{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" data-bs-parent="#lv4Accordion{{ forloop.parentloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.parentloop.counter }}-{{ forloop.parentloop.counter }}">
                                                                <div class="accordion-body">
                                                                    {% for content in lv4_item.lv4_contents.0 %}
                                                                    <li style="cursor: pointer;" onmouseover="this.style.color='blue'; this.style.fontWeight='bold';" onmouseout="this.style.color=''; this.style.fontWeight='normal';" onclick="accordionClicked(event, '{{ content }}')">
                                                                        {{ content }}
                                                                    </li>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                    <!-- 4th 아코디언 끝 -->

                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <!-- 3rd 아코디언 끝 -->

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <script>

        const accordions = document.querySelectorAll('.accordion-collapse');

        accordions.forEach(accordion => {
            accordion.addEventListener('show.bs.collapse', function() {
                const button = document.querySelector(`[data-bs-target="#${accordion.id}"]`);
                button.textContent = '-';
            });

            accordion.addEventListener('hide.bs.collapse', function() {
                const button = document.querySelector(`[data-bs-target="#${accordion.id}"]`);
                button.textContent = '+';
            });
        });

    </script>

    <script>
        function accordionClicked(event) {
            console.log("Accordion item clicked!");
        }
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>



</div>
{% endblock %}