{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h2 class="border-bottom py-2">
        <b>Industry Landscape</b>
    </h2>
    Lv {{ level }}:
    [{{ code }}]
    {{ name }}


    <div>
        {{ graph | safe }}
    </div>


    <div class="'input-group mb-3">
        <h5><strong><u>Further Analysis</u></strong></h5>
        <form action = "{% url 'pybo:industry_landscape_4' %}" class="row g-3">
            <div class="col-auto">
                <label class="col-form-label"> <strong>[축 선택]</strong> X축: </label>
            </div>
            <div class="col-auto">
                <select name = "x축" required class="form-select" id="x축">
                    <optgroup label="PL">
                        <option value = ifrs-full_Revenue selected> 매출액 </option>
                        <option value = ifrs-full_GrossProfit> 매출총이익 </option>
                        <option value = dart_OperatingIncomeLoss> 영업이익 </option>
                        <option value = ifrs-full_ProfitLoss> 당기순이익 </option>
                        <option value = ifrs-full_CostOfSales> 매출원가 </option>
                        <option value = dart_TotalSellingGeneralAdministrativeExpenses> 판매비와관리비 </option>
                    </optgroup>
                    <optgroup label="BS">
                        <option value = ifrs-full_Assets> 총자산 </option>
                        <option value = ifrs-full_Liabilities> 총부채 </option>
                        <option value = ifrs-full_Equity> 총자본 </option>
                    </optgroup>
                    <optgroup label="CF">
                        <option value = ifrs-full_CashFlowsFromUsedInOperatingActivities> 영업활동CF </option>
                        <option value = ifrs-full_CashFlowsFromUsedInInvestingActivities> 투자활동CF </option>
                        <option value = ifrs-full_CashFlowsFromUsedInFinancingActivities> 재무활동CF </option>
                    </optgroup>
                    <optgroup label="수익률">
                        <option value = GP%> 매출총이익률 </option>
                        <option value = EBIT%> 영업이익률 </option>
                        <option value = NI%> 당기순이익률 </option>
                    </optgroup>
                    <optgroup label="성장률">
                        <option value = Revenue_growth%> 매출증가율 </option>
                        <option value = EBIT_growth%> 영업이익증가율 </option>
                        <option value = NI_growth%> 당기순이익증가율 </option>
                    </optgroup>
                </select>
            </div>
            <div class="col-auto">
                <label class="col-form-label"> y축:</label>
            </div>
            <div class="col-auto">
                <select name = "y축" required class="form-select" id="y축">
                    <optgroup label="PL">
                        <option value = ifrs-full_Revenue> 매출액 </option>
                        <option value = ifrs-full_GrossProfit> 매출총이익 </option>
                        <option value = dart_OperatingIncomeLoss selected> 영업이익 </option>
                        <option value = ifrs-full_ProfitLoss> 당기순이익 </option>
                        <option value = ifrs-full_CostOfSales> 매출원가 </option>
                        <option value = dart_TotalSellingGeneralAdministrativeExpenses> 판매비와관리비 </option>
                    </optgroup>
                    <optgroup label="BS">
                        <option value = ifrs-full_Assets> 총자산 </option>
                        <option value = ifrs-full_Liabilities> 총부채 </option>
                        <option value = ifrs-full_Equity> 총자본 </option>
                    </optgroup>
                    <optgroup label="CF">
                        <option value = ifrs-full_CashFlowsFromUsedInOperatingActivities> 영업활동CF </option>
                        <option value = ifrs-full_CashFlowsFromUsedInInvestingActivities> 투자활동CF </option>
                        <option value = ifrs-full_CashFlowsFromUsedInFinancingActivities> 재무활동CF </option>
                    </optgroup>
                    <optgroup label="수익률">
                        <option value = GP%> 매출총이익률 </option>
                        <option value = EBIT%> 영업이익률 </option>
                        <option value = NI%> 당기순이익률 </option>
                    </optgroup>
                    <optgroup label="성장률">
                        <option value = Revenue_growth%> 매출증가율 </option>
                        <option value = EBIT_growth%> 영업이익증가율 </option>
                        <option value = NI_growth%> 당기순이익증가율 </option>
                    </optgroup>
                </select>
            </div>
            <div class = "col-auto">
                <input type="submit" class="btn btn-primary" value="선택">
                {% csrf_token %}
            </div>
        </form>
    </div>



</div>
{% endblock %}