{% extends 'base.html' %}
{% block content %}

<div class="container my-3">

    <!--Project SJ Start-->
    <div class="container-fluid">
        <div class="row">
            <!-- 3단길이의 첫번째 열 -->
            <div class="col-md-3">
                <!-- 사이드 바 메뉴-->
                <!-- 패널 타이틀1 -->
                <div class="panel mb-3">
                    <div class="panel-heading">
                        <h4 class="panel-title">Financial Analysis</h4>
                    </div>
                    <!-- 사이드바 메뉴목록1 -->
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'pybo:industry_landscape_1_1' %}" style="text-decoration:none" >Company (개별기업)</a></li>
                        <li class="list-group-item">Industry (동종산업 Peer 비교)
                            <ul class="list-group" style="list-style-type: disc; padding-top: 10px; padding-left: 35px;">
                                <!--예전버전 숨기기
                                <li><a href="{% url 'pybo:industry_landscape' %}" style="text-decoration: none;" >상장법인_분리전</a></li>
                                -->
                                <li><a href="{% url 'pybo:industry_landscape_0' %}" style="text-decoration: none;" >상장법인</a></li>
                                <li><a href="{% url 'pybo:industry_external' %}" style="text-decoration:none;" >상장법인 및 외감대상법인(Developing...)</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- 패널 타이틀2 -->
                <div class="panel panel-default mb-3">
                    <div class="panel-heading">
                        <h4 class="panel-title">FDD Tools</h4>
                    </div>
                    <!-- 사이드바 메뉴목록2 -->
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'pybo:ledger' %}" style="text-decoration:none">Ledger Summary</a></li>
                        <li class="list-group-item"><a href="{% url 'pybo:account' %}" style="text-decoration:none">Account Summary</a></li>
                        <!--
                        <li class="list-group-item"><a style="text-decoration:none">Labor Costs(TBU)</a></li>
                        -->
                    </ul>
                </div>
                <!-- 패널 타이틀3 -->
                <div class="panel panel-default mb-3">
                    <div class="panel-heading">
                        <h4 class="panel-title">Data Tools</h4>
                    </div>
                    <!-- 사이드바 메뉴목록3 -->
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'pybo:data_concat' %}" style="text-decoration:none">파일/시트 합치기 (Developing...)</a></li>
                        <!--
                        <li class="list-group-item"><a href="{% url 'pybo:excel_settings' %}" style="text-decoration:none">-----------------</a></li>
                        -->
                        <li class="list-group-item"><a  style="text-decoration:none">데이터 클렌징(TBU)</a></li>
                    </ul>
                </div>
            </div>



            <!-- 9단길이의 첫번째 열 -->
             <div class="col-md-9">
                 <div class = "jumbotron">
                     <div class="container m-3">
                        <h2><strong>Laboratory for Financial Analysis (상디의 실험실)</strong> </h2>
                         <p>
                         <div><b>Financial Analysis</b></div>
                         <div> >> Industry : 산업 내 비교대상 회사 선택하여 분석 가능(2023.02.24) </div>
                         <div> >> Further Analysis : 축, Size, 분석기간 선택 가능(2023.03.02) </div>
                         <div> >> GICS 분류 추가(2023.03.10) </div>
                         <div> >> CF Waterfall 분석 추가(2023.03.24) </div>
                         <p></p>
                         <div><b> >> Further Analysis(Industry) : Revenue by Product 분석 추가 - 원그래프(2023.04.25)  </b></div>
                         <div><b> >> 2022 실적 업데이트(2023.04.27)  </b></div>
                         <div class = "hover-element"><b> >> 개인 개발계정 추가(2023.08.15)  </b>
                             <div class="popup">
                                 Hi~
                             </div>
                         </div>

                         {% load static %}
                         <link rel="stylesheet" href="{% static 'hover_style.css' %}">

                     </div>
                 </div>
             </div>
        </div>
    </div>



</div>
{% endblock %}